* {

}

.login{
  display: flex;
  justify-content: flex-end;
}
.mainname {
  display: flex;
  font-size: 30px;
  justify-content: center;
}

.sidebar {
  flex-direction: column;
}

.noticeboard{

  justify-content: center;
}