* {

}
/* .updown {
    border-left: 6px solid black;
    height: 500px;
    position:absolute;
    left: 50%;
} */

.login{
  display: flex;
  justify-content: flex-end;
}
.mainname {
  display: flex;
  font-size: 30px;
  justify-content: center;
}

.sidebar {
  flex-direction: column;
}

.noticeboard{
  display: flex;
  justify-content: center;
}